<div class="page-header"></div>
<body>
<div class="container">
<h1>Editing Book</h1>
	<div class="form-group">
		<%= form_for(@book) do |f| %>
			<b> Title<%= f.text_field :title, class: 'form-control ' %></b>
			<b> <OPTGROUP></OPTGROUP>inion<br><%= f.text_area :body,class: 'form-control' %></br>
				<%= f.submit 'Update book', class: 'btn btn-primary btn-block' %>
			</b>
				<p><%= link_to 'Show', book_path(@book.id) %> |
				<%= link_to 'Back', book_path(@book.id)%>
				</p>
		<% end %>
	</div>
</div>
</body>