<body>
<h1 class="name">Books</h1>
<table class="table">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="body">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
	<tbody>
	<% @books.first(7).each do |b|%>
	<tr class="tr">
	<td class="tb"><%= b.title %></td>
	<td class="tb"><%= b.body %></td>
	<td class="index-tb"><%= link_to 'Show', book_path(b.id) %></td>
	<td class="index-tb"><%= link_to 'Edit', edit_book_path(b.id) %></td>
	<td class="index-tb"><%= link_to 'Destroy', book_path(b.id), method: :delete,"data-confirm" => "Are you sure?" %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<h2 class="newbook">New book</h2>
<%= form_for(@book) do |f| %>
<h4 class="title-new">Title<br><%= f.text_field :title %></br></h4>
<h4 class="body-new">Body<br><%= f.text_area :body %></br></h4>
<%= f.submit 'Create Book' %>
<% end %>
</body>